
@{
    ViewBag.Title = "GameEnded";
    Layout = "~/Views/Shared/_GameContent.cshtml";
}

<div class="text-center">
    <h2>Game Ended? :-(</h2>
    <div>
        The computer running this game is no longer connected to the mothership.
    </div>
    <div>
        <a href="/" class="btn btn-success">Join New Game?</a>
    </div>
</div>


